.Row {
  display: flex;
  flex-direction: column;
}
#circle {
  padding: 10;

  display: "inline-block";

  background-image: url("./images/fine.jpg");
  border-radius: "50%";
  width: 15;
  height: 15;
  left: 0;
  top: 0;
}
#dropdown-basic {
  background-color: white;
  color: black;
  border: white;
}
.circle {
  padding: 10;

  display: "inline-block";

  background-image: url("./images/fine.jpg");
  border-radius: "50%";
  width: 15;
  height: 15;
  left: 0;
  top: 0;
}
#profile:hover {
  background-color: lightblue !important;
}
a:hover {
  border-bottom: 1px solid grey;
}
